@mixin font-face($font-name, $file-path, $weight: 'normal', $style: 'normal') {
  $url: 'url("' + $file-path + '.woff2") format("woff2"), ';
  $url: $url + 'url("' + $file-path + '.woff") format("woff")';

  @font-face {
    font-display: auto;
    font-family: $font-name;
    font-style: unquote($style);
    font-weight: unquote($weight);
    src: unquote($url);
  }
}

@mixin font($font-size, $line-height: 'normal', $font-weight: 500, $font-name: $STYRENE, $letter-spacing: 0) {
  font-family: $font-name;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-tablet {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

$max-width: 192;
@mixin adaptive-font($pc-size, $mob-size) {
  $add-size: $pc-size - $mob-size;
  $add-mob-size: $add-size + $add-size * 0.7;

  @media (min-width: 1921px) {
    font-size: #{$pc-size + rem}
  }

  @media (min-width: 1023px) and (max-width: 1920px) {
    font-size: calc(#{$mob-size + rem} + #{$add-size} * (100vw / #{$max-width}));
  }

  @media (max-width: 1023px) {
    font-size: #{$mob-size + rem};
  }
}

@mixin adaptive-lh($pc-size, $mob-size) {
  $add-size: $pc-size - $mob-size;
  $add-mob-size: $add-size + $add-size * 0.7;

  @media (min-width: 76.7rem) {
    line-height: calc(#{$mob-size + rem} + #{$add-size} * (100vw / #{$max-width}));
  }

  @media (max-width: 76.7rem) {
    line-height: calc(#{$mob-size + rem} + #{$add-mob-size} * ((100vw - 36rem) / #{$max-width}));
  }
}
